* text=auto

*.sh text eol=lf
*.command text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf

*.png binary
*.gif binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.sf2 binary
*.sf3 binary
*.woff binary
*.woff2 binary
